<div class="bookings-wraper">
  <div class="card-bookings-principal ">
    <div class=" card-secundaria-bookings">
      <h1 class="titulo-1">Buenos días, <%= current_user.name %> :</h1>
      <h4 style="display: flex;justify-content: center;font-family: 'Montserrat';font-weight: 300;margin-bottom: -1rem;margin-left: 190px;">Estos son tus hábitos</h4>

      <div>
        <div class="d-flex justify-content-center align-items-center">
          <div>
            <div class="calendario">
              <%= month_calendar(events: @bookings) do |name, bookings| %>
                <%= name %>

                <% bookings.each do |booking| %>

                    <%= link_to booking.name, booking_path(booking), class:"booking" %>

                <% end %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
