<div class="contenedor">
  <div class="xq-mi-salud">
    <h1 class="title-xq">¿Por que elegirnos?</h1>
    <h4 class="p-xq">En nuestro sitio, puedes controlar, acceder y subir todos tus informes médicos. Ofrecemos una plataforma fácil de usar, donde puedes almacenar y compartir información médica confidencial de manera segura y tener acceso a ella en cualquier momento y lugar. ¡Este sitio es una herramienta valiosa para guardar tu historial medico y llevar un buen control de su salud!
    <br>
    <br>
    Queremos pasar a formar parte de tus rutinas porque entendemos que tu salud y bienestar es lo más importante. </h4>
  </div>

  <div class="row justify-content-center mt-5 vh-100 ">

    <div class="column-nosotros">
      <div class="card-nosotros-salud card-img-top">
        <%= image_tag "aa.jpeg", class:"radio-imagen-1"%>
        <div class="contenedor-nosotros">
          <h2 style="text-align: -webkit-center; ">App en línea</h2>
          <p class="description" style="text-align: -webkit-center;">A donde quieras y cuando quieras, hacer el seguimiento de tus salud y consultar tus informes nunca fue tan facil.</p>
        </div>
      </div>
    </div>

    <div class="column-nosotros">
      <div class="card-nosotros-salud">
        <%= image_tag "qq.jpeg", class:"radio-imagen-1" %>
        <div class="contenedor-nosotros">
          <h2 style="text-align: -webkit-center;">Comunicación</h2>
          <p class="description" style="text-align: -webkit-center;">Con el objetivo de fortalecer la comunicación y brindar la información necesaria a tu médico de forma ágil y sencilla, esta disponible en el momento y lugar que quieras.<p>
        </div>
      </div>
    </div>

    <div class="column-nosotros">
      <div class="card-nosotros-salud">
        <%= image_tag "zz.jpeg", class:"radio-imagen-1" %>
        <div class="contenedor-nosotros">
          <h2 style="text-align: -webkit-center;">Gestión de tus estúdios</h2>
          <p class="description" style="text-align: -webkit-center;">Vas a poder gestionar todos tus informes y documentos médicos, hacer seguimiento de tus principales parámetros de salud pudiendo interactuar con ellos y actualizarlos en todo momento.</p>
        </div>
      </div>
    </div>
  </div>
</div>
