<div class="contenedor">
  <div class="xq-mi-salud">
    <h1 class="title-xq">¿Por que elegirnos?</h1>
    <h4 class="p-xq">
    "¡Te presentamos nuestro nuevo sitio online, para archivar tus estudios médicos! Con nuestra aplicación, tendrás todos tus estudios médicos al alcance de tu mano en cualquier momento y lugar. Ya no tendrás que preocuparte por perder tus estudios o tener que llevarlos contigo en todo momento. Además, nuestra aplicación cuenta con un sistema de seguridad avanzado para proteger tus datos personales y médicos. Además, podrás compartir tus estudios con tus médicos de manera fácil y rápida, ya no tendrás que preocuparte por llevar tus documentos contigo. Descarga nuestra aplicación ahora y descubre la comodidad de tener tus estudios médicos siempre a tu disposición"
   </h4>
  </div>

  <div class="row justify-content-center mt-5" style="margin-left: 7rem;
    margin-right: 7rem;">

    <div class="col-4 justify-content-center">
      <div class="">
        <%= image_tag ("https://res.cloudinary.com/dmbtujt7l/image/upload/c_scale,w_200/v1674846968/7_etmrdr.png"), class:"radio-imagen-1" %>
        <div class="">
          <h2 style="text-align: -webkit-center; ">App en línea</h2>
          <p class="parrafo-xq">Tendras siempre a tu disposición, a donde quieras y cuando quieras tu historial médico, hacer el seguimiento de tus salud y consultar tus informes nunca fue tan facil.</p>
        </div>
      </div>
    </div>

    <div class="col-4 justify-content-center">
      <div class="">
        <%= image_tag ("https://res.cloudinary.com/dmbtujt7l/image/upload/c_scale,w_200/v1674846968/9_royrlg.png"), class:"radio-imagen-1" %>
        <div class="">
          <h2 style="text-align: -webkit-center;">Mejora la comunicación</h2>
          <p class="parrafo-xq">Con el objetivo de fortalecer la comunicación y brindar la información relevante y necesaria a tu médico de forma ágil y sencilla, ya no tendrás que preocuparte por llevar tus informes médicos contigo en todo momento.<p>
        </div>
      </div>
    </div>

    <div class="col-4 justify-content-center">
      <div class="">
        <%= image_tag ("https://res.cloudinary.com/dmbtujt7l/image/upload/c_scale,w_200/v1674846968/8_qc6oq6.png"), class:"radio-imagen-1"  %>
        <div class="">
          <h2 style="text-align: -webkit-center;">Gestión de tus estúdios</h2>
          <p class="parrafo-xq">Vas a poder gestionar todos tus informes y documentos médicos, hacer un seguimiento de tus principales parámetros de salud pudiendo actualizarlos en todo momento.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="xq-mi-salud">
      <h1 class="title-xq2"> Tu salud online!</h1>
      <h3 class="p-xq" style="text-align: center; margin-right: 9rem;
    margin-bottom: 9rem;"> Queremos pasar a formar parte de tus rutinas médicas <br> porque entendemos que tu salud y bienestar es lo más importante.</h3>
  </div>
  <div class="">
  </div>
</div>
