.simple-calendar {
  width:90%;
  margin: 0 auto;
  margin-left: 192px;
  .table {
    // overflow: hidden !important;
    min-height: 60vh;
  }
  .today {
    background-color: #FAF3DD;
  }
  .table-striped {
  }
}

.calendar-sizing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 200px;
}

.booking {
  border-top: 1px solid #b2dba1;
  border-bottom: 1px solid #b2dba1;
  background-image: linear-gradient(to bottom, #dff0d8 0px, #c8e5bc 100%);
  background-repeat: repeat-x;
  color: #3c763d;
  border-width: 1px;
  font-size: .75em;
  // padding: 0 .75em;
  // line-height: 2em;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // margin-bottom: 1px;

}

.booking:hover {
  background: #6aa06b;
  color: white;
}

.button-16 {
  background-color: #f8f9fa !important;
  border: 1px solid #f8f9fa !important;
  border-radius: 4px !important;
  color: #3c4043 !important;
  cursor: pointer !important;
  font-family: arial,sans-serif !important;
  font-size: 14px !important;
  height: 36px !important;
  line-height: 27px !important;
  min-width: 54px !important;
  padding: 0 16px !important;
  text-align: center !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  touch-action: manipulation !important;
  white-space: pre !important;
}

.button-16:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}

.button-16:focus {
  border-color: #4285f4;
  outline: none;
}

.general-card-bookings-1-1{
  display: flex;
  justify-content: center;
}

.general-card-bookings-1-2{
  display: flex;
  justify-content: right;
}

.general-card-bookings-2{
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 5rem;
}

.card-bookings-principal{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookings-wraper{
  margin-top: 4.7rem;
  display: flex;
  }
.card-secundaria-bookings{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 2rem;
}

.titulo-1-calendar{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-left: 190px;
}
.titulo-2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

}
.text-center{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
    font-weight: 370;
}

.card-booking-2 {

}
