.card-habits-principal {
  display: flex;
  justify-content: center;
}
.card-habits {
  border-style: ridge;
  padding: 1rem;
  border-radius: 1rem;
}
.table-principal {
  padding: 2rem;
}

.card-secundaria-habits {
  margin-bottom: 10rem;
}
.general-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}
.titulo-1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.titulo-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.text-center {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 370;
}
.avatar-1 {
  display: grid;
  grid-template-columns: 0fr 1fr;
}
.card-text-habitos-1 {
  margin-top: 2.6rem;
  font-family: "montserrat";
}
.grafico-dona-habitos {
  width: 12rem;
  margin-top: 1rem;
  margin-bottom: -8rem;
  display: flex;
  margin-left: 17rem;
}
.table-medical-habito-2 {
  text-align: left;
  margin-left: -6rem;
  margin-top: 5rem;
  margin-left: -13rem;
  margin-bottom: -1rem;
}
