.column-nosotros-salud {
  border: none;
  height: 35rem;
  width: 35rem;
}

.radio-imagen-1 {
  height: 10rem;
  width: 10rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  margin-left: 8rem;
}


.xq-mi-salud {
  background-color: #e4ffff;
  margin-bottom: 2rem;

}

.title-xq {
  margin-top: 9rem;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.title-xq2 {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  text-align: center;
}



.p-xq {
  justify-content: center;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-bottom: 5rem;
  text-align: justify;
}

.parrafo-xq {
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 2rem;
  margin-right: 0rem;
  text-align: justify !important;
}
