.column-nosotros-salud {
  border: none;
  height: 35rem;
  width: 35rem;
}

.radio-imagen-1 {
  height: 10rem;
  width: 10rem;
  border-radius: 30%;
  margin-bottom: 1rem;
  position: relative;
  right: -6rem;
  left: 6rem;
}


.xq-mi-salud {
  background-color: #e4ffff;
  margin-bottom: 2rem;

}

.title-xq {
  margin-top: 9rem;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.p-xq {
  justify-content: center;
  margin-left: 9rem;
  margin-right: 9rem;
  margin-bottom: 5rem;
}
