.text-new-bookings {
  font-size: 1.5rem;
  margin: 0 auto;
  margin-bottom: 2rem !important;
}

.btn-new-booking {
  font-size: 1.1rem !important;
  margin-top: 1rem !important;
  margin-bottom: 0rem;
}
