.user-profile {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-left: 0rem;
}

.radio-imagen-user {
  height: 21.8rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}


.inicio-sesion-label {
  font-size: 1.5rem;
}
